@import '../../styles/_variables';

nav {
  display: flex;
  flex-direction: column;
  border-right: 1px solid $black-32;
  max-width: 280px;
  height: 100vh;
}

.top-container {
  padding: 40px 35px 32px 40px;
  display: flex;
  align-items: center;
  gap: 50px;

  &__button {
    cursor: pointer;
    border: none;
    background: transparent;
  }

  &__tooltip {
    position: absolute;
    margin-left: 220px;
    background: $black-72;
    color: $clear-white;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 16px;
    border-radius: 2px;
  }
}

.controls {
  height: 100%;
  font-size: 16px;
  line-height: 16px;

  &__list {
    cursor: pointer;

    article {
      font-weight: 500;
      padding: 12px 40px;
    }

    ul div {
      list-style-type: none;
      padding: 10px 56px;
    }

    &:first-child,
    &:nth-child(2) {
      border-bottom: 1px solid $gray;
    }

    &:last-child {
      article {
        display: flex;
        gap: 100px;
      }
    }
  }
}

.controls-minimized {
  height: 100%;
  font-size: 16px;
  line-height: 16px;
  width: 76px;

  .controls__list {
    cursor: pointer;

    &:first-child {
      border-bottom: 1px solid transparent;
    }

    ul div {
      padding: 10px 28px;
    }
  }
}

.top-container-minimized {
  padding: 44px 26px;
}

.active-list-item {
  background: $blue-base;
  color: $clear-white;
}

.bottom-container {
  background: $black-4;
  height: 52px;
  padding: 14px 40px;

  &__button {
    display: flex;
    align-items: center;
    gap: 16px;
    border: none;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
  }
}

.bottom-container-minimized {
  padding: 10px 22px;
}
