$blue-base: #2c59a5;
$extra-blue: #2662c9;
$red-rufous-base: #a61911;
$gray: #d9d9d9;
$gray-cultured: #f9f9f9;
$clear-white: #ffffff;
$black-4: rgba(0, 0, 0, 0.04);
$black-8: rgba(0, 0, 0, 0.08);
$black-16: rgba(0, 0, 0, 0.16);
$black-32: rgba(0, 0, 0, 0.32);
$black-64: rgba(0, 0, 0, 0.64);
$black-72: rgba(0, 0, 0, 0.72);
$black-87: rgba(0, 0, 0, 0.87);
